body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;

}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tenor-gif-embed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto
    ;
}
